<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>כמה קילו?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>כמה קילו?</h1>
        <h2>מחשבון בשרים ל"על האש"</h2>
        <form id="bbqForm">
            <div class="form-group-group">
                <div class="form-group" id="form-group-adult">
                    <label for="adults">מבוגרים:</label>
                    <input type="number" id="adults" name="adults" min="0" value="8" required>
                </div>
                <div class="form-group" id="form-group-children">
                    <label for="kids">ילדים:</label>
                    <input type="number" id="kids" name="kids" min="0" value="4" required>
                </div>
            </div>
            <div class="form-group">
                <label for="hungerLevel">רמת רעב:</label>
                <select id="hungerLevel" name="hungerLevel" required>
                    <option value="light">קל</option>
                    <option value="moderate" selected>בינוני</option>
                    <option value="veryHungry">רעב מאוד</option>
                    <option value="allYouCanEat">אכול כפי יכולתך</option>
                </select>
            </div>
            <div class="form-group">
                <label for="eventType">אופי האירוע:</label>
                <select id="eventType" name="eventType" required>
                    <option value="premium">פרימיום</option>
                    <option value="standard" selected>סטנדרטי</option>
                    <option value="costEffective">משתלם כלכלית</option>
                </select>
            </div>
            <div class="form-group">
                <label for="meatPreferences">העדפות בשר:</label>
                <select id="meatPreferences" name="meatPreferences" multiple required>
                </select>
            </div>
            <button type="button" onclick="calculateMeat()">חשב</button>
        </form>
        <div id="results"></div>
        <div id="totalMeat"></div>
        <div id="copyContainer"></div>
        <div id="copyMessage"></div>
    </div>

    <footer>
        <p style="text-align: center;">developed with ❤️ by <a href="https://x.com/idofrizler">@idofrizler</a></p>
    </footer>

    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
